.header-post {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
}

header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info-post {
    display: flex;
    align-items: center;
    gap: 16px;
}

.info-post img {
    object-fit: cover;
}

.img-post img {
    width: 100%;
    object-fit: cover;
}

.footer-post {
    padding: 10px 15px;
}

.engagement-post {
    display: flex;
   justify-content: space-between;
}

.engagement-post .icons-1 {
    display: flex;
    gap: 16px;
}

.icon {
    cursor: pointer;
}

.like {
    margin-top: 6px;
}

.like span {
    font-size: 15px;
    font-weight: 500;
}

.legend {
    margin: 6px 0 3px;
}


.legend p span {
    font-weight: 500;
}

.time-post {
    font-size: 11px;
    color: var(--secondary);
}

.comment {
    border-top: 1px solid var(--border-secondary);
    margin-top: 8px;
    display: flex;
}

.fake-comment {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 16px;
} 

.fake-comment input {
    font-size: 16px;
}

.comment button {
    color: var(--quartary);
    cursor: pointer;
    font-weight: 500;
}