.SidebarHeader {
    background: var(--background);
    border-right:#DBDBDB 1px solid;
    width: 17.9vw;
    max-width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.SidebarHeader .container {
    width: 90%;
    height: 90%;
    padding-left: 15px;
}


.logoInstagram {
    max-width: 10vw;
    margin: 34px 22px;
    width: 107px;
    cursor: pointer;
}


.home-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
}

.item {
    border-radius: 25px;
    width: 100%;
    padding: 8px;
    margin: 4% 0;
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 16px;
    font-size: 15px;
    align-items: center;
}

.item:hover {
    background: #e5e7eb;
}

.iconeItem svg{
    color: #333333;
    height: 26px;
    width: 26px;
}

.perfil-sidebar {
    margin-left: 9px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 4%;
}

.perfil-sidebar img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.perfil-sidebar img:hover {
    transform: scale(1.1);
}


.mais {
    margin-top: 50%;
}

.mais :hover {
    background: #e5e7eb;
}